
#hero{
    height: 900px;
    background-image: url("/flex-grid/images/places/chars7.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content{
    width: 900px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 4px 6px black;
    text-align: center;
    padding: 50px 10px;
    position: relative;
    top: 250px;
    margin: auto;
    border-radius: 7px;
}

#hero-content h1{
    font-size: 57px;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', sans-serif;
    text-transform: uppercase;
}
#hero-content p{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: 'Julee', sans-serif;
    font-weight: 500;
    margin-bottom: 40px;
}
#hero-content a{
    text-decoration: none;
    background-color: rgba(42, 136, 251, 0.8);
    color: white;
    padding: 15px 30px;
    font-size: bold;
    border-radius: 12px;
    box-shadow: 4px 4px 7px black;
}

#hero-content a:hover {
    background-color: rgba(34, 107, 196, 0.8);

}

#highlights{
    padding: 10px;
    background: linear-gradient(0deg, rgb(130, 159, 255), rgb(196, 210, 255));
}

#highlights h1{
    text-align: center;
    color: rgb(57, 57, 57);
    /* margin: 0; */
    font-size: 50px;
}
#highlights ul{
    display: flex;
    justify-content: center;
    width: 90%;
}

.movies{
    align-items: center;
    margin: 0 20px;
}

.movies p{
    text-align: center;
    font-weight: bold;
    color: rgb(86, 86, 86);
}
.movies img{
    width: 100%;
    height: 300px;
    border-radius: 12px;
    box-shadow: 2px 4px 8px rgb(26, 26, 26);
    object-fit: cover;
}