body{
    background:linear-gradient(90deg, rgb(69, 69, 69),rgb(64, 64, 64));
}

header{
    position: static;
}

main ul{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 70px
}

main li{
    display: flex;
    background: linear-gradient(90deg, rgb(161, 182, 252), rgb(127, 156, 250));
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.289);
    border-radius: 8px;
    overflow: hidden;
}

main li:nth-of-type(3){
    grid-column: 1 / span 2;
}

main ul img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.item-content{
    width: 100%;
    color: rgb(42, 42, 42);
    padding: 20px;
    text-shadow: 1px 2px 3px rgb(128, 128, 128);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content h2{
    font-size: 40px;
    text-transform: capitalize;
    margin: 0;
}
.item-content p{
    font-size: 25px;
} 

.explore-link{
    text-align: right;
}

.explore-link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding: 8px 10px;
    border-radius: 4px;
    text-transform: capitalize;
}

.explore-link a:hover{
    background-color: blue;
}